.App {
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  background-position: center;
  background-size: cover;
  background-color: cornflowerblue;
  background-image: url('/Best-Code-and-Text-Editors.png');
}

.Iframe {
  margin-top: 110px;
  background-color:lightslategrey;
}
